# Cartelle
Data/COVIDx/test
Data/COVIDx/train
Data/COVIDx-splitted-resized/test
Data/COVIDx-splitted-resized/train
Data/COVIDx-splitted-resized-112/test
Data/COVIDx-splitted-resized-112/train
Data/COVIDx-splitted-resized-128/test
Data/COVIDx-splitted-resized-128/train

# venv
DeepLearning38